<% provide(:title, 'Skills') %>
<div class="container">
  <% @categories.each do |category| %>
    <div class="card">
      <div class="card-top">
        <div class="card-title"><%= category.category_name %></div>
        <%= link_to "スキルを追加する", new_category_skill_path(category.id), class: "nomal button" %>
      </div>
      <table>
        <thead>
          <tr>
            <td>習得スキル</td>
            <td>習得レベル</td>
            <td></td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <% @skills.each do |skill| %>
            <% if category.id.eql?(skill.category_id) %>
              <tr>
                <td><%= skill.skill_name %></td>
                <td><%= skill.level %></td>
                <td><%= link_to "習得レベルを保存する", edit_category_skill_path(category.id, skill.id), class: "save button" %></td>
                <td><%= link_to "スキルを削除する", category_skill_path(category.id, skill.id), data: { turbo_method: :delete }, class: "delete button" %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  <div class="card-bottom">
  </div>
</div>
