<% provide(:title, 'New') %>
<div class="main">
  <div class="new-container">
    <div class="title">
      <p><%= @category.category_name %>にスキルを追加</p>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= form_with model: @skill, url: user_category_skills_path do |f| %>
          <%= f.label :skill_name, "習得スキル" %>
          <%= f.text_field :skill_name, class: 'form-control' %>
          <%= f.label :level, "習得レベル" %>
          <%= f.number_field :level, class: 'form-control' %>
          <div class="explain">
            <p>0 ~ 100 の間で選択してください</p>
          </div>
          <%= f.hidden_field :category_id, value: @category.id %>
          <div class="center-button", id="modalOpen">
            <%= f.submit "追加する", class: "nomal button", id: "modalOpen" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- modalStart -->
<section id="modalCreate" class="modal">
  <div class="modal-body">
    <div class="modal-content">
      <p><%= @category.category_name %>に<%= @skill.skill_name %>を<br>習得レベル<%= @skill.level %>で追加しました！</p>
      <div class="center-button", id="modalClose">
        <%= link_to "スキル編集ページに戻る", user_skills_path, class: "nomal button", id: "modalClose" %>
      </div>
    </div>
  </div>
</section>
<!-- modalEnd -->
